
.c-1{
    display: table; 
    margin: 0px auto 0px auto; 
    padding:5px;background-color:lightgrey;
   
    
}

h1{
    font-family: 'Courier New', Courier, monospace;
}

h2{
    justify-content: left;
    align-items: left;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}
p{
    justify-content: left;
    align-items: left;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
}

html{
    background-color: rgb(214,137,165);
    
 }
 .navbar{
     background-color: pink;
 }
 .navbar-brand{
     font-family:'Courier New', Courier, monospace;
     font-size:180%;
 }
 .nav-link {
     font-family: 'Courier New', Courier, monospace;
    
     margin-right: 20px;
     margin-left: 10px;
 }
 .dropdown-menu{
     font-family: 'Courier New', Courier, monospace;
     
 }